@charset "utf-8";

body {
    font-family: "Meiryo UI", sans-serif;
    font-size: 16px;
    background-image: url("../images/background.webp");
}
::selection {
    background-color: orange;
    color: black
}

/* ヘッダー */
header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
    z-index: 10;
    transition: 0.75s;
    user-select: none;
}
header.sub {
    background-color: mediumblue;
}

.headerBox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: min(1000px,95%);
    margin: auto;
    color: white;
}

.logoBox {
    z-index: 10;
}
.logoBox a {
    display: flex;
}
.logoBox img {
    height: 50px;
    width: 50px;
    transition: 0.5s;
    float: left;
}
.logoBox h1 {
    line-height: 50px;
    font-size: 24px;
}

.menuBox ul li {
    float: left;
}
.menuBox ul li a {
    position: relative;
    padding: 12px ;
}
.menuBox ul li a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    width: 100%;
    border-radius: 3px;
    background-color: white;
    transition: 0.5s;
    transform: scale(0,1);
}
.menuBox ul li a:hover::after {
    transform: scale(1,1);
}

header .burgerBox {
    display: none;
}

.burgerBtn {
    position: relative;
    height: 35px;
    width: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 10;
}
.burgerBtn span,
.burgerBtn span::before,
.burgerBtn span::after {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 3px;
    border-radius: 3px;
    background-color: white;
    transition: 0.5s;
}
.burgerBtn span::before {
    top: 10px;
}
.burgerBtn span::after {
    bottom: 10px;
}
.burgerBtn.active span,
#burgerInput:checked ~ .burgerBtn span {
    background: rgba(255, 255, 255, 0);
}
.burgerBtn.active span::before,
#burgerInput:checked ~ .burgerBtn span::before {
    top: 0;
    transform: rotate(-45deg);
}
.burgerBtn.active span::after,
#burgerInput:checked ~ .burgerBtn span::after {
    bottom: 0;
    transform: rotate(45deg);
}

.burgerBox label.burgerBtn,
.burgerBox #burgerInput {
    display: none;
}

.burgerMenuBox {
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    right: 0;
    width: 150px;
    height: 100vh;
    background-color: rgba(0,0,205,0.9);
    opacity: 0;
    transform: translateX(150px);
    transition: 0.5s;
}
.burgerMenuBox.open,
#burgerInput:checked ~ .burgerMenuBox {
    opacity: 1;
    transform: translateX(0);
}
.burgerMenuBox ul {
    margin-top: 60px;
    text-align: center;
}
.burgerMenuBox ul li {
    height: 60px;
}
.burgerMenuBox ul li a {
    position: relative;
    display: block;
    padding: 15px 10px;
    height: 50px;
}
.burgerMenuBox ul li a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    width: 100%;
    border-radius: 3px;
    background-color: white;
    transition: 0.5s;
    transform: scale(0,1);
}
.burgerMenuBox ul li a:hover::after {
    transform: scale(1,1);
}


/* メイン */
main a {
    color: mediumblue;
    text-decoration: underline;
}

.mainVisual {
    position: relative;
    width: 100%;
    height: 100%;
    user-select: none;
}
.mainVisual .slider {
    opacity: 0;
    transition: 0.5s;
}
.mainVisual .slider.slick-initialized {
    opacity: 1;
}
.mainVisual .slider img {
    height: 100svh;
    width: 100%;
    margin: auto;
    object-fit: cover;
    pointer-events: none;
}
.mainVisual .slider::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 75px;
    width: 100%;
    opacity: 0.75;
    background: linear-gradient(180deg, black, transparent);
}

.mainVisual .buttons {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
    border-radius: 15px;
    padding: 5px;
    background-color: rgba(255,255,255,0.75);
    box-shadow: 0 0 10px gray;
    text-align: center;
}
.mainVisual .buttons .pauseBtn {
    width: 20px;
    height: 20px;
    margin-top: 5px;
    border-radius: 10px;
    background-color: mediumblue;
}
.mainVisual .pauseBtn div {
    content: "";
    width: 10px;
    height: 10px;
    margin: auto;
    background-color: white;
    clip-path: polygon(0% 0%, 30% 0%, 30% 100%, 70% 100%, 70% 0%, 100% 0%, 100% 100%, 0% 100%);
    transition: 0.5s;
}
.mainVisual .pauseBtn.pause div {
    clip-path: polygon(10% 0%, 100% 50%, 10% 100%);
}
.mainVisual .slick-dots li {
    font-size: 0;
    width: 15px;
    height: 15px;
    margin: 10px 5px;
    border-radius: 10px;
    background-color: darkgray;
    cursor: pointer;
    transition: 1.5s;
}
.mainVisual .slick-dots li.slick-active {
    background-color: mediumblue;
}
.mainVisual .scrollBtn {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 10px;
    padding: 10px;
    border-radius: 10px;
    animation: blinking 1.5s linear 0s infinite alternate;
    filter: drop-shadow(0 0 3px black); 
}
.mainVisual .scrollBtn .scrollBar {
    width: 2px;
    height: 30px;
    background-color: white;
    border-radius: 1px;
    margin: 0 auto;
}
.mainVisual .scrollBtn div {
    text-align: center;
    margin-top: 5px;
    color: white;
}
.mainVisual::after {
    display: none;
}

@keyframes blinking {
    0% { opacity: 0.25; }
    60% { opacity: 1; }
}



.articles {
    width: min(1000px,95%);
    margin: 0 auto;
    padding-bottom: 20px;
}
.articles article {
    overflow: auto;
}
.articles article h3,
.articles article h4 {
    margin: 15px 0;
    font-weight: 600;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 10px 5px -5px gray;
    clear: left;
}
.articles article h3 {
    font-size: 20px;
    color: white;
    background-color: blue;
    border: solid 3px blue;
}
.articles article h4 {
    font-size: 18px;
    background-color: white;
    border: solid 3px blue;
}
.articles article img {
    width: min(500px, 95%);
}
.articles article img.left,
.articles article img.right {
    height: auto;
    margin: 0 10px 20px 10px;
}
.articles article img.left {
    float: left;
}
.articles article img.right {
    float: right;
}

.slideImg img {
    aspect-ratio: 3 / 2;
    object-fit : contain;
    background-color: white;
}
.slideImg .slider {
    display: flex;
    width: 95%;
    margin: 0 auto;
    padding: 0 30px;
}
.slideImg .slick-slide {
    padding: 0 1px;
}
.slideImg .slick-dots {
    position: absolute;
    display: flex;
    bottom: 1%;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(255,255,255,0.75);
    border-radius: 20px;
    padding: 0 5px;
    z-index: 1;
}
.slideImg .slick-dots li {
    content: "";
    width: 10px;
    height: 10px;
    color: transparent;
    background-color: darkgray;
    border-radius: 5px;
    margin: 5px;
    transition: 0.5s;
}
.slideImg .slick-dots li.slick-active {
    background-color: mediumblue;
}
.slideImg .slick-arrow {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 50%;
    transform: translateY(-50%);
    color: transparent;
    background-color: mediumblue;
    border-radius: 10px;
    z-index: 1;
}
.slideImg .slick-arrow::before,
.slideImg .slick-arrow::after {
    content: "";
    display: block;
    position: relative;
    left: 25%;
    width: 10px;
    height: 3px;
    background-color: white;
    border-radius: 2.5px;
}
.slideImg .slick-arrow::before {
    transform-origin: 3px 3px;
    transform: rotate(-45deg);
}
.slideImg .slick-arrow::after {
    transform-origin: 3px 0;
    transform: rotate(45deg);
}
.slideImg .slick-prev {
    left: 5px;
}
.slideImg .slick-next {
    right: 5px;
    transform: translateY(-50%) rotate(180deg);
}

.articles article pre {
    padding: 0 10px;
    line-height: 2em;
    white-space: pre-line;
}
.scrollAnime {
    opacity: 0;
    visibility: hidden;
    transform: translateY(25px);
    transition: 1.5s;
}
.scrollAnime.fade {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

article pre li {
    display: inline-block;
    position: relative;
    padding-left: 15px;
    line-height: 2em;
}
article pre li::before {
    position: absolute;
    content: "・";
    left: 3px;
}

article pre.news {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 95%;
    height: 200px;
    overflow: auto;
    background-color: white;
    border: solid 3px mediumblue;
}
.news .date {
    margin: 0 5px;
    width: 100px;
    text-align: justify;
}
.news .content {
    margin: 0 5px;
    width: calc(100% - 120px);
}

article .treeStruct {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
}
article .treeStruct div {
    display: inline-block;
    width: 140px;
    padding: 5px 0;
    margin: 5px;
    text-align: center;
    border: solid 2px black;
    background-color: white;
    border-radius: 5px;
}
article .treeStruct ul li ul li {
    position: relative;
    padding-left: 70px;
}
article .treeStruct ul li ul li::before {
    content: "";
    position: absolute;
    top: -25px;
    left: 50px;
    border-left: solid 2px black;
    height: 50px;
}
article .treeStruct ul li ul li:nth-child(1)::before {
    top: -5px;
    height: 32px;
}
article .treeStruct ul li ul li::after {
    content: "";
    position: absolute;
    top: 24px;
    left: 50px;
    border-top: solid 2px black;
    width: 25px;
}


.breadCrumb {
    margin-top: 60px;
    width: 100%;
    background-color: white;
    border-bottom: solid 3px mediumblue;
}
.breadCrumb div {
    width: min(1000px,95%);
    margin: 0 auto;
    padding: 5px;
}
.breadCrumb ul {
    height: 20px;
}
.breadCrumb ul li {
    float: left;
    padding: 0 5px;
}

main a[href^="http"] {
    position: relative;
    margin-right: 20px;
}
main a[href^="http"]::after {
    content: "";
    width: 20px;
    height: 20px;
    bottom: 0;
    right: -20px;
    position: absolute;
    background-image: url("../images/link.svg");
    background-position: center center;
    background-size: 16px;
    background-repeat: no-repeat;
}
main a[href$=".pdf"] {
    position: relative;
    margin-right: 20px;
}
main a[href$=".pdf"]::after {
    content: "";
    width: 20px;
    height: 20px;
    bottom: 0;
    right: -20px;
    position: absolute;
    background-image: url("../images/download.svg");
    background-position: center center;
    background-size: 16px;
    background-repeat: no-repeat;
}


/* フッター */
footer {
    clear: both;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: mediumblue;
}
.footerBox {
    text-align: center;
    color: white;
    line-height: 2em;
    z-index: 10;
    padding: 15px 0;
}


/* 画面サイズ700px未満で適用 */
@media only screen and (max-width: 699px){
    .logoBox img{
        height: 45px;
        width: 45px;
    }
    .logoBox h1 {
        line-height: 45px;
        font-size: 22px;
    }
    .headerBox .menuBox {
        display: none;
    }
    header .burgerBox {
        display: block;
    }
    
    .articles article img.left,
    .articles article img.right {
        display: block;
        margin: 0 auto;
        float: none;
    }
}

/* 画面サイズ360px未満で適用 */
@media only screen and (max-width: 359px){
    .logoBox img{
        height: 40px;
        width: 40px;
    }
    .logoBox h1 {
        line-height: 40px;
        font-size: 20px;
    }
    .burgerBtn {
        height: 30px;
        width: 30px;
    }
}
